body{
    background-color: #B4B897;
}
h3{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: #368B85;
}
.navbar-brand{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}
.nes-btn, .aboutMe{
    font-family: 'Press Start 2P', cursive;
}
.modal-title, .card-title{
    color: black;
    font-family: 'Press Start 2P', cursive;
}
.modal-body, .modal-footer, .modal-header, .dropdown-item{
    background-color: #464660;
    color: black;
}
.nes-icon{
    padding-right: 25px;
}
p{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}
.img-fluid{
    height:240px;
}
.jumbotron{
    background-color: #368B85;
}
.form, input, textarea{
    font-family: 'Press Start 2P', cursive;
    margin-left:15px;
    width: 75%;
    color: black;
}
.dropdown-menu{
    background-color: #E5E5E5;
}
.languages{
    background-color: #368B85;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: #B4B897;
    font-family: 'Press Start 2P', cursive;
}
.card{
    border: solid #5D5D5D 4px;
    background-color: #368B85;
}
.certs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cert{
   width: 49%;
   margin: 5px; 
}
.language{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    
}
.languages-bagdes, .language-title{
    font-family: 'Press Start 2P', cursive;
    
}
.language-title{
    text-align: center;
}
.nes-badge{
    margin: 20px;
}
@media screen and (max-width: 480px) {
  .cert{
      width: 90%;
  }
  .utsa{
    width: 90%;
}
}
@media screen and (min-width: 768px) {
  .cert{
      width: 49%;
  }
}

@import "./node_modules/nes.css/css/nes.css"
