
body{
    background-color: #B4B897;
}
.navbar-brand{
    font-family: 'Press Start 2P', cursive;
}
.nes-btn{
    font-family: 'Press Start 2P', cursive;
}
.nes-icon{
    padding-right: 25px;
}
.aboutMe{
    font-family: 'Press Start 2P', cursive;
}
p{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}
.img-fluid{
    height:340px;
}
.jumbotron{
    background-color: #368B85;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: #B4B897;
    font-family: 'Press Start 2P', cursive;
}
@import "./node_modules/nes.css/css/nes.css"